3-api-transform-post.json
{
  "name": "API Call → Transform → POST to Another API",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "schedule-2",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Expensify/App/issues",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "labels", "value": "Help Wanted,External" },
            { "name": "state", "value": "open" },
            { "name": "sort", "value": "created" },
            { "name": "direction", "value": "desc" },
            { "name": "per_page", "value": "10" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-get-1",
      "name": "Fetch GitHub Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Transform GitHub issues into a clean normalized format\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const issue = item.json;\n  \n  // Extract bounty from title: [$250] Some title\n  let bounty = 'unknown';\n  const bountyMatch = (issue.title || '').match(/\\[\\$(\\d+)\\]/);\n  if (bountyMatch) bounty = `$${bountyMatch[1]}`;\n  \n  // Clean title (remove bounty prefix)\n  const cleanTitle = (issue.title || '').replace(/^\\[\\$\\d+\\]\\s*/, '');\n  \n  // Count age in hours\n  const createdAt = new Date(issue.created_at);\n  const ageHours = Math.round((Date.now() - createdAt.getTime()) / (1000 * 60 * 60));\n  \n  results.push({\n    json: {\n      id: issue.number,\n      title: cleanTitle,\n      bounty: bounty,\n      url: issue.html_url,\n      created: issue.created_at,\n      ageHours: ageHours,\n      commentCount: issue.comments || 0,\n      hasAssignee: !!issue.assignee,\n      assignee: issue.assignee?.login || null,\n      labels: (issue.labels || []).map(l => l.name),\n      source: 'github',\n      fetchedAt: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-3",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-unassigned",
              "leftValue": "={{ $json.hasAssignee }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            },
            {
              "id": "filter-fresh",
              "leftValue": "={{ $json.ageHours }}",
              "rightValue": "24",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-3",
      "name": "Unassigned & Fresh",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ issues: $json }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-post-1",
      "name": "POST to Downstream API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          { "node": "Fetch GitHub Issues", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch GitHub Issues": {
      "main": [
        [
          { "node": "Transform Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          { "node": "Unassigned & Fresh", "type": "main", "index": 0 }
        ]
      ]
    },
    "Unassigned & Fresh": {
      "main": [
        [
          { "node": "POST to Downstream API", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "api" },
    { "name": "http" },
    { "name": "transform" }
  ]
}
